.info-table {
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  font-size: 13px;
  border-collapse: collapse;
}

.info-table th,
.info-table td {
  margin: 0;
  padding: 10px 5px;
}

.info-table td {
  border-bottom: 1px solid #efefef;
}
