.filtersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.filtersContainer > .filterBox > input {
  width: 95px;
  height: 40px;
  font-size: 14px;
  margin: 5px;
  padding: 8px;
  box-sizing: border-box;
}

.filtersContainer > .filterBox > button {
  width: 80px;
  background-color: #4A59DE;
  color: #FFF;
  font-size: 14px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.filtersContainer > .filterBox > input:hover {
  border: 1px solid #888;
}

.filtersContainer > .filterBox > button:hover {
  cursor: pointer;
}
